@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

/*---- btn social section ------ */
.whatsapp-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 49px;
    height: 49px;
    bottom: 25px;
    right: 18px;
    background-color: #29B200;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    text-decoration: none !important;
}
/*-- btn social section ends --*/

.nava-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 1;
}

.nav-social{
    margin-left: 50px;
    margin-right: 420px;
}

.nav-social a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}

.nav-social a:hover{
    color: #00215E;
    text-decoration: none;
}

.banner-home{
    width: 100%;
    height: 670px;
    background: url(../img/Banner-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-content{
    padding-left: 50px;
}

.banner-content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
}

.banner-content h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 39px;
    font-weight: 700;
    width: 780px;
}

#chevron-banner{
    position: relative;
    bottom: -230px;
    left: 50%;
    color: #fff;
    font-size: 25px;
}

.pos-banner{
    width: 100%;
    height: 450px;
    background: url(../img/background-pos-benner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 500px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.content-left{
    margin-left: 50px;
}

.content-right {
    margin-left: 75px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-right h1{
    font-size: 30px;
    font-weight: 500;
    color: #00215E;
}

.content-right a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: #00215E;
    border-radius: 5px;
    margin-top: 20px;
    border: solid 2px #00215E;
    transition: all 1s;
}

.content-right a:hover{
    color: #00215E;
    background-color: #fff;
    transition: all 1s;
}

.about{
    display: flex;
    align-items: center;
}

.about-content-left{
    margin-left: 50px;
    padding-right: 40px;
}

.about-title{
    margin-bottom: 15px;
}

.about-title h1{
    color: #706E70;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 13.6px;
    text-transform: uppercase;
}

.about-title h2{
    color: #00215E;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    width: 223px;
}

.about-content-left li{
    color: #1e1e1e;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

.representante-cta{
    color: #fff;
    background-color: #00215E;
    border: solid 2px #00215E;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 1s;
    width: 380px;
}

.representante-cta:hover{
    color: #00215E;
    background-color: #fff;
    transition: all 1s;
}

.about-content-right img{
    border-radius: 5px 0 0 5px;
    height: 100%;
}

.dados{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container{
    display: flex;
    align-items: center;
}

.counter-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 246px;
}

.counter-content{
    display: flex;
    align-items: center;
}

.counter-content .simbol{
    font-size: 50px;
    font-weight: 1000;
    font-family: 'Poppins';
    color: transparent;
    -webkit-text-stroke: 1px #1e1e1e;
    margin-right: 20px;
}

.counter-content .counter{
    font-size: 50px;
    font-weight: 1000;
    color: transparent;
    text-transform: uppercase;
    font-family: 'Poppins';
    -webkit-text-stroke: 1px #1e1e1e;

}

.counter-content .full-color{
    color: #000;
    -webkit-text-stroke: none;
}

.counter-title{
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .3px;
    text-transform: uppercase;
    color: #706E70;
    text-align: center;
}

.bar-counter{
    height: 120px;
    width: 1px;
    background-color: #706E70;
    margin-inline: 40px;
}

.clientes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.section-title h1{
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 19.55px;
    color: #706E70;
    text-align: center;
}

.section-title h2{
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00215E;
    letter-spacing: 5.2px;
    text-align: center;
}

/*-- LOGO Slider Container */
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }

}

.slider-logo-container {
    overflow: hidden;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.slider-logo-container:hover .costumer-logos{
    animation-play-state: paused;
}

.costumer-logos {
    animation: 50s slide infinite linear;
    display: flex;
    align-items: center;
}


.costumer-logos img {
    margin: 0 40px;
    max-height: 60px;
}
/*-- LOGO Slider Container Ends*/

.processos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.processo-container{
    width: 85%;
    background-color: #00215E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 40px;
    padding-bottom: 8px;
}

.processo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.processo-title h1{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.processo-title p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-inline: 263px;
    text-align: center;
}

.processos-cards{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.processo-card{
    background-color: #fff;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    margin-bottom: 36px;
}

.processo-top{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.processo-top h1{
    font-size: 40px;
    font-weight: 900;
    color: #00215E;
    margin-right: 70px;
}

.processo-name{
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.3px;
    text-align: center;
}

.processo-content{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding-inline: 15px;
    margin-top: 20px;
}

.divisor{
    margin-inline: 19px;
}

.atendimento-nacional {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0 80px;
    margin-top: 40px;
}

.an-content-left img{
    transform: rotate(-2.451deg);
}

.an-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
}

.an-content-title p{
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 13.6px;
    color: #706E70;
}

.an-content-title h1{
    color: #00215E;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-top: 15px;
}

.an-content-title h2{
    font-size: 40px;
    font-weight: 700;
    color: #00215E;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.an-content-text{
    margin-top: 40px;
}

.an-content-text h1{
    font-size: 29px;
    font-weight: 500;
    padding-right: 180px;
    margin-bottom: 70px;
}

.an-content-text h1 span{
    font-weight: 900;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00215E;
}

.footer-menus{
    display: flex;
    align-items: flex-start;
    padding: 40px 50px;
    justify-content: space-around;
}

.links-rapidos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 135px;
}

.links-rapidos ul{
    margin-top: 15px;
}

.links-rapidos ul li{
    list-style: none;
    margin-bottom: 15px;
}

.links-rapidos ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.menus-title{
    width: 299px;
    display: flex;
    align-items: flex-start;
    border-bottom: solid 2px #fff;
}

.menus-title h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 299px;
    margin-right: 135px;
}

.contatos a{
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.social-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-footer img{
    width: 327px;
}

.social-btns{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.social-btns a{
    text-decoration: none;
    color: #fff;
    font-size: 39px;
    margin-inline: 15px;
}

.copy{
    width: 95%;
    border-top: solid 3px #fff;
    padding: 5px 0;
}

.copy h1{
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    text-align: center;
}

.copy h1 a{
    text-decoration: none;
    color: #f40000;
    text-transform: uppercase;
    font-weight: 600;
}

.feedTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.feedTitle h1{
    font-size: 40px;
    font-weight: 800;
    color: #00215E;
}

.goToIg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.goToIg a{
    text-decoration: none;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 20px;
}

@media screen and (min-width: 1920px) {
    .nav-social {
        margin-left: 50px;
        margin-right: 680px;
    }

    .costumer-logos {
        animation: 50s slide infinite linear;
        display: flex;
        align-items: center;
    }
    
    .banner-home {
        width: 100%;
        height: 900px;
        background: url(../img/Banner-background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #chevron-banner {
        position: relative;
        bottom: -317px;
        left: 50%;
        color: #fff;
        font-size: 25px;
    }

    .pos-banner {
        width: 100%;
        height: 535px;
        background: url(../img/background-pos-benner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 710px;
        display: flex;
        align-items: center;
        padding-top: 50px;
    }

    .about-title h1 {
        color: #706E70;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 13.6px;
        text-transform: uppercase;
    }

    .about-title h2 {
        color: #00215E;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: .8px;
        text-transform: uppercase;
        width: 223px;
    }

    .about-content-left li {
        color: #1e1e1e;
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .about-content-right img {
        border-radius: 5px 0 0 5px;
        height: 100%;
        width: 768px;
    }

    .about {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .processos-cards {
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-inline: 100px;
    }

    .atendimento-nacional {
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 0 350px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .nav-social {
        margin-left: 50px;
        margin-right: 140px;
    }

    .pos-banner {
        width: 100%;
        height: 452px;
        background: url(../img/background-pos-benner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 730px;
        display: flex;
        align-items: center;
        padding-top: 46px;
        flex-direction: column-reverse;
    }

    .content-right {
        margin-left: 75px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 50px;
    }

    .about {
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
    }

    .about-content-left {
        margin-left: 50px;
        padding-right: 40px;
        margin-bottom: 40px;
    }

    .counter-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dados {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .counter-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 246px;
        margin-bottom: 20px;
    }

    .no-mobile{
        display: none;
    }

    .processo-title p {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        padding-inline: 70px;
        text-align: center;
    }

    .processos-cards {
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
    } 

    .an-content-left img {
        width: 400px;
        transform: rotate(-2.451deg);
    }

    .an-content-title p {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 13.6px;
        color: #706E70;
    }

    .an-content-title h1 {
        color: #00215E;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: .8px;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .an-content-title h2 {
        font-size: 30px;
        font-weight: 700;
        color: #00215E;
        text-transform: uppercase;
        letter-spacing: .8px;
    }

    .an-content-text {
        margin-top: 10px;
    }

    .an-content-text h1 {
        font-size: 21px;
        font-weight: 500;
        padding-right: 55px;
        margin-bottom: 40px;
    }

    .representante-cta {
        color: #fff;
        background-color: #00215E;
        border: solid 2px #00215E;
        text-decoration: none;
        text-transform: uppercase;
        padding: 11px 32px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 5px;
        transition: all 1s;
        width: 230px;
    }

    .footer-menus {
        display: flex;
        padding: 40px 68px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .links-rapidos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 299px;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .banner-content h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 39px;
        font-weight: 700;
        width: 718px;
    }
}

@media screen and (max-width: 440px) {
    .nava-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 120px;
        position: relative;
        z-index: 1;
        flex-direction: row-reverse;
    }

    .nav-social {
        margin-left: 50px;
        margin-right: 30px;
    }

    .banner-content {
        padding-left: 20px;
    }

    .banner-content h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 28px;
        font-weight: 300;
    }

    .banner-content h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        width: 392px;
    }

    .pos-banner {
        width: 100%;
        height: 452px;
        background: url(../img/background-pos-benner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 850px;
        display: flex;
        align-items: center;
        padding-top: 46px;
        flex-direction: column-reverse;
    }

    .content-left {
        margin-left: 0px;
    }

    .content-left img{
        width: 400px;
    }

    .processo-container {
        width: 85%;
        background-color: #00215E;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 46px 20px;
        padding-bottom: 8px;
    }

    .processo-title h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
    }

    .processo-title p {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        padding-inline: 8px;
        text-align: center;
    }

    .atendimento-nacional {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 40px;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .an-content-left img {
        width: 263px;
        transform: rotate(-2.451deg);
    }

    .an-content-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0px;
        align-items: center;
    }

    .an-content-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .an-content-text h1 {
        font-size: 21px;
        font-weight: 500;
        padding-inline: 40px;
        margin-bottom: 28px;
        text-align: center;
    }

    .about-content-right img {
        border-radius: 5px 0 0 5px;
        width: 100%;
    }

    .footer-menus {
        display: flex;
        padding: 40px 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .banner-content {
        padding-left: 5px;
    }

    .content-right {
        margin-left: 30px;
        padding-right: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 360px) {
    .nav-social {
        margin-left: 29px;
        margin-right: 0px;
    }

    .banner-content h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
    }

    .banner-content h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        width: 316px;
    }

    .content-left img {
        width: 300px;
    }

    .about-content-left {
        margin-left: 15px;
        padding-right: 5px;
        margin-bottom: 40px;
    }

    .processo-title h1 {
        color: #fff;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
    }

    .processo-title p {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding-inline: 8px;
        text-align: center;
    }

    .processos-cards {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0px;
        flex-direction: column;
    }

    .processo-card {
        background-color: #fff;
        width: 280px;
        height: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        margin-bottom: 36px;
    }
}